.whole-files-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 20px;

  .files-uploader {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

    .file {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 10px 20px;
      border-radius: 8px;

      .icon {
        color: #888;
        cursor: pointer;

        &:hover {
          color: #0075ff
        }
      }

      .title {
        font-size: 14px;
      }
    }

    .img-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .file-author,
    .file-meta-data {
      font-size: 12px;
      font-weight: bold;
      color: #888;
    }

    .file-meta-data {
      display: flex;
      justify-content: space-between;
    }

    .line {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #888;
    }

    img {
      width: 50px;
      transition: transform .2s linear;

      &:hover {
        transform: rotate(10deg)
      }
    }
  }

  .files-statistic {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;

    .statistic-title {
      font-weight: bold;
    }

    .statistic {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 20px;

      .files-statistic-icon {
        background-color: rgba($color: #0075ff, $alpha: 0.2);
        border-radius: 8px;
        padding: 10px;
      }
    }

    .img-container {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border: 1px solid #888;
      border-radius: 8px;


      .files-statistic-meta-data small {
        color: #888;
        font-weight: bold;
      }

      .size {
        margin-left: auto;
        color: #888;
        font-weight: bold;
        font-size: 12px;

      }
    }

    .pdf-container {
      transition: 0.3s;

      &:hover {
        background-color: rgba(244, 67, 54, .2);
        border: 1px solid #f44336;
      }

      .files-statistic-icon {
        background-color: rgba(244, 67, 54, .2);
      }

      svg {
        color: #f44336
      }
    }

    .imgs-container {
      transition: 0.3s;

      &:hover {
        background-color: rgba(34, 197, 94, .2);
        border: 1px solid #22c55e;
      }

      .files-statistic-icon {
        background-color: rgba(34, 197, 94, .2);
        border: 1px solid #22c55e;
      }

      svg {
        color: #22c55e
      }
    }

    .word-container {
      transition: 0.3s;

      &:hover {
        background-color: rgba(0, 117, 255, .2);
        border: 1px solid #0075ff;
      }

      .files-statistic-icon {
        background-color: rgba(0, 117, 255, .2);
        border: 1px solid #0075ff;
      }

      svg {
        color: #0075ff
      }
    }

    .csv-container {
      transition: 0.3s;

      &:hover {
        background-color: rgba(245, 158, 11, .2);
        border: 1px solid #f59e0b;
      }

      .files-statistic-icon {
        background-color: rgba(245, 158, 11, .2);
        border: 1px solid #f59e0b;
      }

      svg {
        color: #f59e0b
      }
    }

    .uplode-btn {
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 8px;
      border: none;
      background-color: #0075ff;
      color: #fff;
      display: flex;
      align-items: center;
      font-weight: bolder;
      gap: 10px;
      align-self: center;

      svg {
        width: 20px;
      }
    }

    @media (max-width:767px) {
      order: -1;
    }
  }

  @media (max-width:767px) {
    grid-template-columns: auto;
  }
}
