header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;

  .notify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      width: 10px;
      height: 10px;
      background-color: red;
      border-radius: 50%;

    }
  }

  .avatar {
    width: 30px;
    cursor: pointer;

    img {
      width: 100%;
      overflow: hidden;
    }
  }

  .search-input-container {

    input,
    input:focus {
      padding: 10px;
      outline: none;
      border: 2px solid #a9a9a9;
      border-radius: 10px;
    }
  }
}
