header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;

  .notify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
    position:relative;
    #notif-list {
      position: absolute;
      top: 40px;
      right: 54px;
      width: 340px;
      height: 460px;
      z-index: 99;
      overflow-y: auto;
      border-radius: 10px;
      background-color: #eee;
      box-shadow: 0 0 10px #ccc;
      @media (max-width:767px) {
        font-size:12px;
        width: 240px;
        height: 260px;
      }

      li {
          &:hover {
            background-color:rgba(#888,0.3);
            &:not(:last-child) {
            border-bottom:2px solid #0891ff;
          }
          small,span {
            color:#000;
          }
          }
          a {
          display:flex;
          gap:10px;
          color:#000;
          text-decoration:none;
          &>div {
            display:flex;
            flex-direction:column;
          }
          small {
            flex-basis:100%;
            color:#888;
            font-weight:bold;
          }
        }
          width: 100%;
          padding-block: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: .25s ease-in-out;
          &:not(:last-child) {
          border-bottom:2px solid rgba(#888,0.5);
        }
        img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0 0 5px #ddd;
        margin-inline-start: 5px;
        }
      }
      h4 {
        width: 100%;
        position: relative;
        padding-block: 10px 5px;
        text-align: center;
        background-color: #ccc;
        border-bottom: 1px solid #888;
      }
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      width: 10px;
      height: 10px;
      background-color: red;
      border-radius: 50%;

    }
  }

  .avatar {
    width: 30px;
    cursor: pointer;

    img {
      width: 100%;
      overflow: hidden;
    }
  }

  .search-input-container {

    input,
    input:focus {
      padding: 10px;
      outline: none;
      border: 2px solid #a9a9a9;
      border-radius: 10px;
    }
  }
}
