.settings {
  .settings-title-container {
    font-size: 25px;

    span {
      display: block;
      width: 50px;
      height: 2px;
      background-color: #000;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 150px;
        height: 2px;
        background-color: #a9a9a9;
      }
    }
  }

  .setting-box-container {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;

    small {
      color: #a9a9a9
    }


    .site-control,
    .general-info {
      padding: 20px;
      border-radius: 10px;
      background-color: #fff;
    }

    .site-control,
    .website-control {
      display: flex;
      flex-direction: column;

      [name=message] {
        border: 1px solid #a9a9a9;
        outline: none;
        border-radius: 10px;
        padding: 10px;
        height: 150px
      }
    }

    .general-info {
      .form-control form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 10px;

        input {
          padding: 10px;
          border: 1px solid #a9a9a9;
          border-radius: 4px;
          width: 100%;
        }

        #email {
          background-color: darkgrey;
        }
      }

      .form-input-control {
        padding: 10px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        label {
          color: #a9a9a9;
        }
      }

      button.change {
        margin-left: auto;
        border: none;
        background-color: transparent;
        color: #0075ff;
      }
    }
  }
}
