.settings-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;

  .grid-item {
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    background: #fff;

    .title {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .web-control {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-weight: normal;
        font-size: 16px;
      }
    }

    .textarea-control textarea {
      resize: none;
      width: 100%;
      min-height: 150px;
      border-radius: 8px;
      padding: 10px;
    }
  }

  .general-info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &>div {
      display: flex;
      gap: 10px;
      flex-direction: column;

      input {
        border-radius: 8px;
        padding: 10px;
        outline: none;
        border: 1px solid #888;

        &:focus {
          outline: none;
        }
      }
    }

    .email-control {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 5px;
      gap: 5px;

      input {
        flex-basis: 85%;
        cursor: no-drop;
        background: rgba(88, 88, 88, .2);
      }

      button {
        margin-left: auto;
        border: none;
        outline: none;
        background: transparent;
        font-weight: bold;
        cursor: pointer;
        color: #0075ff;

        &:hover {
          color: #f44336
        }
      }
    }
  }

  h2 {
    font-size: 20px;
    font-weight: bolder;
  }

  .desc {
    color: #888;
  }

  .password-control {
    display: flex;
    flex-direction: column;
    gap: 35px;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;

      &:not(:last-child) {
        border-bottom: 2px solid rgba(88, 88, 88, .1);
      }

      .change-btn button {
        border: 1px solid #0075ff;
        padding: 5px 10px;
        background-color: #0075ff;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
      }

      button {
        border: none;
        padding: 5px 10px;
        border-radius: 8px;
        background-color: rgba(88, 88, 88, .2);
      }
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .social-input {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;

      label {
        background-color: rgba(88, 88, 88, .1);
        padding: 10px;
        border-radius: 8px 0px 0px 8px;
        border: 1px solid #888;
        color: #888;
      }


      input {
        border: 1px solid #888;
        flex-grow: 1;
        border-radius: 0 8px 8px 0;
        background-color: rgba(88, 88, 88, .1);
        padding: 0 10px;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .widget {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    min-height: 300px;
    flex-basis: 100%;

    &>div {
      display: flex;
      gap: 10px;
    }
  }

  .backup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 100%;

    .radio {
      @extend .backup;
      gap: 20px;
      padding: 10px 0;
      border-bottom: 2px solid rgba(88, 88, 88, .1);

      &>div {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .location {
      display: flex;
      align-items: center;
      padding: 20px 0;
      gap: 10px;

      .location-failed {
        width: 100%;

        input[type="radio"] {
          display: none;
        }

        input[type="radio"]~label {
          align-items: center;
          padding: 20px 0;
          border: 2px solid rgba(88, 88, 88, .1);
          border-radius: 8px;

        }

        input[type="radio"]:checked~label {
          border: 2px solid #0075ff;
          color: #0075ff;
        }

        label {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }

      @media (max-width:767px) {
        display: grid;
      }
    }
  }

  @media (max-width:767px) {
    grid-template-columns: 1fr;
  }
}
